<!-- <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../partials/navigation.ejs') %>

    <main>
      <h1>PRODUCT DETAIL</h1>
      <div class="grid">
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">Product Title</h1>
          </header>
          <div class="card__image">
            <img
              src="https://png.pngtree.com/png-clipart/20231021/original/pngtree-watercolor-library-book-clip-art-png-image_13391689.png"
              alt="Product Title" />
          </div>
          <div class="card__content">
            <h2 class="product__price">$19.99</h2>
            <p class="product__description">
              Product Description
            </p>
          </div>
          <div class="card__actions">
            <form action="/add-to-cart" method="POST">
                <button class="btn">Add to Cart</button>
            </form>
          </div>
        </article>
      </div>
    </main>
<%- include('../partials/end.ejs') %> -->
